#player-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: wheat;

    #player {
        height: 100%;
        width: 100%;
        background-color: black;

    }
}